body {
    /* background-color: rgb(250,250, 250); */
    /* background-color: rgb(204, 38, 38); */

}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.image {
    width: 370;
    margin-top:5px;
    height: 30px;
    /* background-color: red; */
}

@media (max-width:770px){
    .container {
        margin: 0 10%;
    }
    .image{
        width:100%
    }
}
















